extends ../shared/template

block content
  #map

  .row
    .small-6.columns
      select#friends
        option Jamision
        option FarFromGuam
    .small-6.columns
      button.tiny.expand#ping PING

block script
  script(src'/js/source/ping.js')
